body, html {
    height: 100%;
    margin: 0;
    padding: 4px;
    padding-top: 10px;
   /*background-color: #d6deeb;*/
  }
  
.bg {
    /* background-image: url("/static/dr.jpg"); */
    height: 120%; 
    background-position: right;
    background-position-x: 820px;
    background-repeat: no-repeat;
    background-size:contain;
    padding: 40px;
    /* background-image: url("globe.png"); */

  }

.ar{
    /* background-image:  url("/static/dr11-01.png"); */
    background-image: url("../media/globe.png");

    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(174, 174, 192, 0.2), 0 6px 20px 0 rgba(174, 174, 192, 0.2);
    border-radius: 10px;
    margin-bottom: 60px;
    height: 100%;
    width: auto;
    font-family: 'Playfair Display', serif !important;
    font-size:48px;

  }
  h1{
    
    background-color:rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(174, 174, 192, 0.2), 0 6px 20px 0 rgba(174, 174, 192, 1);
    margin-bottom: 20px;
    height: 100%;
    width: fit-content;
    font-family: 'Playfair Display', serif !important;
    font-size:48px;
    color: white;

  }

img{
width: 540px;
}
nav{
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,123,255, 0.2), 0 6px 20px 0 rgba(0,123,255, 0.19);

}
nav.navbar.navbar-expand-lg.navbar-dark.bg-primary {
  margin-left: 40px;
  margin-right: 40px;
}
.navbar-brand{
    font-family: 'Playfair Display', serif !important;
    font-size: 33px;
}
a.nav-link {
  /* left: revert; */
  margin-left: 1000px;
}